/*
  Project: Themes
  Author: gkriston84
 */
@import 'bootstrap-custom';

// @import '../../node_modules/genetiks/utilities';

@import 'settings/global';
@import 'tools/all';
@import 'generic/all';
@import 'elements/all';
@import 'objects/all';
@import 'components/all';
@import 'utilities/all';

// ANIMATIONS //




// BASE STYLE //






// SLIDER //

#slider {
	background-color: $color-light-grey;
}

// BLOG LIST & SINGLE //

#single-blog-post {
	.entry-featured {
		img {
			height: 400px;
			object-fit: cover;
			width: 100%;
		}
	}
}


// SECTION EXCELLENCE //

#excellence {
	background-color: #f2f2f2;
	p {
		text-align: center;
		font-size: 30px;
		margin-bottom: 0;
	}
}

// SECTION - FEATURED TESTIMONIAL //

#featured-testimonial {
	background-color: gray;
	.text {
		font-size: 24px;
		line-height: 1.2;
	}
	.img {
		border-radius: 50px;
	}
	.name {
		margin-top: 20px;
		margin-bottom: 5px;
	}
}

//  SECTION FEATURED BLOG //


// SECTION CLIENTS//

#clients {
	background-color: #343a40!important;
	#img-gallery {
		text-align: center;
		img {
			margin: 0 25px;
    		width: 13%;
		}
	}
	#clientsCarousel {
		height: 170px;
	}
}

// SECTION - SOLUTIONS //

#solution {
	background-color: gray;
	.row {
		margin-top: 50px;
		.col-lg-6 {
			margin: 20px 0;
		&.img img{
			height: 300px;
			object-fit: cover;
			width: 100%;	
		}
		&.text {
			padding-top: 50px;
		}
		}
	}

}


// SECTION - BLOG //

#blog {
	background-color: #f2f2f2;

}

// SECTION - GALLERY //

#gallery {
	.gallery-img-box {
		margin: 10px 0;
		img {
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			height: 250px;
			width: 100%;
			object-fit: cover;
			&:hover {
				transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
				opacity: 0.8;
			}
		}
	}
}

// SECTION - GALLERY MASONRY //

#gallery-masonry {
	background-color: gray;
	.masonry {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	img { 
		width: 100%; padding: 7px 0;
	}
}	
@media (max-width: 500px) {
	.masonry {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
		
}
}



// SECTION OFFER //

#offer {
	.offer-box {
		border: 1px solid grey;
		text-align: center;
		height: 100%;
    	padding: 30px 0;
		ul {
			text-align: left;
			width: 50%;
			margin: auto;
		}
	}
}

// SECTION COUNTDOWN //

#countdown {
	text-align: center;
	ul {
		width: 10%;
		margin: auto;
	}
}

// SECTION - OUR TEAM //

#our-team {
	background-color: #f2f2f2;
	.team-member-box {
		//width: 23%;
		//max-width: 23%;
		margin: 20px auto;
		text-align: center;
		.member-img {
			margin-bottom: 10px;
    		width: 50%;
    		height: auto;
    		border-radius: 50%;
    		//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
		}
	}
}

// SECTION - TESTIMONIAL //

#testimonial {
	background-color: gray;
	.carousel-item {
		height: 30vh;
		margin-top: 100px;
		.testimonial {
			width: 70%;
			margin: auto;
		}
	}
	
}

// SECTION - GYIK //

#gyik {
	.section-title {
		color: #fff;
	}
	.gyik-content {
		text-align: center;
		.accordion {
			margin: 1rem auto;
			.question {
				cursor: pointer;
				color: #fff;
			}
		}
		.panel {
			display: none;
			color: #f2f2f2;

		}
		.btn {
			margin-top: 5rem;
		}
	}
}

// SECTION - CONTACT //

#contact {
	.contact-form {
		width: 60%;
		margin: auto;
		.email,
		.name,
		.submit {
			//padding-right: 0;
		}
		.message {
			//padding-right: 0;
			margin-top: 10px;
			textarea {
				width: 100%;
				border: 1px solid #f2f2f2;
				border-radius: .25rem;
				//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
				transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
				margin: 15px 0;
				background-color: #f2f2f2;
				padding: 10px;

			}

		}
		input {
			border: 1px solid #f2f2f2;
			border-radius: .25rem;
			//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			background-color: #f2f2f2;
			margin-top: 10px;
			padding: 10px;
			width: 100%;
		&[type="submit"] {
				color: #fff;
    			background-color: #007bff;
    			border-color: #007bff;
    			padding: .375rem .75rem;
			}	
		&[type="submit"]:hover {
				color: #fff;
	    		background-color: #0069d9;
	    		border-color: #0062cc;
			}	
		}
		.privacy {
			position: relative;
			.wpcf7-list-item {
				margin-left: 3.5rem;
				input[type="checkbox"] {
					position: absolute;
				    width: 15px;
				    height: 15px;
				    left: 8px;
				    top: -13px;
				}
			}
		}
	}
}


// SECTION - PARTNERS //

#partners {
	background-color: gray;
	.logos {
		text-align: center;
		.partner-logo-img {
			width: 250px;
			height: auto;
			object-fit: contain;
		}
	}

}

