///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
);


/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #ccc;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-dark-grey: #333;

// Custom main colors
$primary-color--grey: #5E5E5E;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-medium-grey;
$color-hover: $color-light-grey;

// Borders
$color-border: $color-very-light-grey;

// Fills
$color-fill: $color-very-light-grey;


html {
  scroll-behavior: smooth;
  font-size: 10px;
}


/* Letter style
   ========================================================================== */
body {
  p,a,li {
    font-size: 2rem;
  }
}

/* Background
   ========================================================================== */
.bg-dark {
  background-color: $color-black!important;
	* {
		color: $color-white;	
	}
}

@mixin bg-default-setting {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* Section
   ========================================================================== */
section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

/* Container
   ========================================================================== */
.container {
  padding-right: 25px;
  padding-left: 25px;
  .full-screen {
    padding: 0;
  }
  @media (min-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
    .full-screen {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.inner-container {
  width: 100%;
  @media (min-width: 992px) {
    max-width: 850px;
    margin: auto;
  }
}

/* Hide
   ========================================================================== */
 .hide-on-mobile {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

 .hide-on-desktop {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
} 

/* Card
   ========================================================================== */
.card-img img{
  height: 250px;
  object-fit: cover;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0.8;
  }
}