/*!
 *  ThemePlate 0.1.0
 *  Copyright (C) 2021 gkriston84
 *  Licensed under GPL-2.0-only.
 */

/* Fonts
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Colors
   ========================================================================== */
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

/* Letter style
   ========================================================================== */
body p, body a, body li {
  font-size: 2rem;
}

/* Background
   ========================================================================== */
.bg-dark {
  background-color: #000 !important;
}

.bg-dark * {
  color: #fff;
}

/* Section
   ========================================================================== */
section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  section {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

/* Container
   ========================================================================== */
.container {
  padding-right: 25px;
  padding-left: 25px;
}

.container .full-screen {
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container .full-screen {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.inner-container {
  width: 100%;
}

@media (min-width: 992px) {
  .inner-container {
    max-width: 850px;
    margin: auto;
  }
}

/* Hide
   ========================================================================== */
.hide-on-mobile {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-mobile {
    display: block;
  }
}

.hide-on-desktop {
  display: block;
}

@media (min-width: 992px) {
  .hide-on-desktop {
    display: none;
  }
}

/* Card
   ========================================================================== */
.card-img img {
  height: 250px;
  object-fit: cover;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-img img:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0.8;
}

/*# sourceMappingURL=themeplate-desktop.css.map */
