/* ==========================================================================
   #FOOTER
   ========================================================================== */


#footer {
	padding: 0;
	.footer-content {
		padding: 2rem 0 1rem 0;
		background-color: $color-medium-grey;
	}
	.closing-line {
		padding: 3rem 0;
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			.copyright,
			.cookie {
				margin-bottom: 1.3rem;
			}
			.designer {
				display: flex;
				align-items: center;
				min-width: 215px;
				img {
					width: 100%;
					max-width: 100px;
					margin-left: 0.5rem;
				}
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}


@media (min-width: 992px) {
	#footer {
		.closing-line {
			.container {
				flex-direction: row;
				.copyright,
				.cookie {
					margin-bottom: 0;
				}
			}
		}
	}
}