/* ==========================================================================
   #HEADER
   ========================================================================== */

/*.c-header {
  border-bottom: 1px solid $color-border;
  margin-bottom: 2em;
  padding-bottom: 1em;
}*/

header {
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.23);
	position: relative;
	z-index: 3;
	.topbar {
		background-color: $color-medium-grey;
		padding: 1.5rem 0;
		.container {
			display: flex;
			justify-content: space-between;
			& > div {
				display: flex;
				align-items: center;
				img {
					margin-right: 2rem;
				}
				a {
					color: $color-black;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	header {
		position: fixed;
		width: 100%;
		z-index: 16;
	}
}