

.search-box {
	text-align: right;
	display: block;
	#searchform {
		margin: 0 0 0 10px;
		div {
			display: flex;
			align-items: center;
			input[type="text"] {
			    background: transparent;
			    border: none;
			    border-bottom: 1px solid #fff;
			    padding: 0px 10px;
			    color: #fff;
			    margin: 0 5px;
			}
			input[type="submit"] {
				padding: 3px 10px;
				margin-bottom: 5px;
			}
		}
	}
}
