/* ==========================================================================
   #CAROUSEL
   ========================================================================== */

/**
 * Hero carousel settings.
 */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}